// Break Point 
$desktop-l-width	: 1440px;
$desktop-s-width	: 1200px;
$tablet-l-width		: 1024px;
$tablet-s-width		: 768px;
$mob-l-width		: 640px;
$mob-m-width		: 480px;
$mob-s-width		: 375px;
$mob-xs-width   	: 320px;

//1920px 이상 full size
@mixin full-size {
	@media all and (min-width: 1921px) {
		@content;
	}
}

// only PC
@mixin pc-only {
	@media all and (min-width: $tablet-l-width + 1) {
		@content;
	}
}
@mixin pc-small {
	@media all and (min-width: $desktop-s-width) {
		@content;
	}
}
@mixin pc-large {
	@media all and (min-width: $desktop-l-width) {
		@content;
	}
}

// --------------------------------------------------

// 태블릿 가로
@mixin tab {
	@media all and (max-width: $tablet-l-width) {
		@content;
	}
}
// only 태블릿
@mixin tab-only {
	@media screen and (min-width: $tablet-s-width + 1) and (max-width: $desktop-s-width - 1) {
		@content;
	}
}
// 모바일
@mixin mob {
	@media all and (max-width: $tablet-s-width) {
		@content;
	}
}
// 모바일 large
@mixin mob-large {
	@media screen and (max-width: $mob-l-width) {
		@content;
	}
}
// 모바일 mid
@mixin mob-mid {
	@media screen and (max-width: $mob-m-width) {
		@content;
	}
}
// 모바일 small
@mixin mob-small {
	@media screen and (max-width: $mob-s-width) {
		@content;
	}
}

// --------------------------------------------------

// 모바일 min
@mixin mob-min {
	@media screen and (min-width: $mob-s-width) {
		@content;
	}
}
// 모바일 max
@mixin mob-max {
	@media screen and (min-width: $tablet-s-width) {
		@content;
	}
}

// --------------------------------------------------

@mixin media ($minmax: 'max', $width: $tablet-l-width) {
    @if ($minmax == 'min') {
        @media (min-width: $width) {
            @content;
        }
    } @else {
        @media (max-width: $width) {
            @content;
        }
    }
}