/*
* File		: com.css
* Author    : kimyoubin
* Version	: 1.0
*/


/* Noto Sans */
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

html,
body { 
	font-family: 'Noto Sans KR', 'AppleSDGothicNeo', sans-serif;
	font-weight: normal;
	letter-spacing: -.4px;
	-webkit-font-smoothing: antialiased;
	color: $baseColor;
}